<launch>

    <!-- args -->
    <arg name="ref_lidar" value="front" />     
    <arg name="data_lidar" value="tail" />     

    <node pkg="lego_loam" type="icp_simple_map" name="icp_simple_map"  
		args="$(arg data_lidar) 
		$(find lego_loam)/cfg/cfg_localmap.yaml 
		$(find lego_loam)/config/icp_surf.yaml
		$(find lego_loam)/data/yellow_20190104/8_shape/old_pcd/map_front.vtk
		$(find lego_loam)/data/yellow_20190104/8_shape/old_pcd/map_tail.vtk" output="screen"/>

</launch>
